[submodule "roles/base_system"]
	path = roles/base_system
	url = https://github.com/infra-monkey/ansible_role_base_system.git
	branch = 0.0.3
[submodule "roles/postfix_email_client"]
	path = roles/postfix_email_client
	url = https://github.com/infra-monkey/ansible_role_postfix_email_client.git
	branch = 0.0.2

