[submodule "roles/base_system"]
	path = roles/base_system
	url = https://github.com/infra-monkey/ansible_role_base_system.git
	branch = main
[submodule "roles/postfix_email_client"]
	path = roles/postfix_email_client
	url = https://github.com/infra-monkey/ansible_role_postfix_email_client.git
	branch = main
[submodule "roles/zabbix_agent"]
	path = roles/zabbix_agent
	url = https://github.com/infra-monkey/ansible_role_zabbix_agent.git
	branch = main
[submodule "roles/linux_user"]
	path = roles/linux_user
	url = https://github.com/infra-monkey/ansible_role_linux_user.git
	branch = main
[submodule "roles/cloud_init"]
	path = roles/cloud_init
	url = https://github.com/infra-monkey/ansible_role_cloud_init.git
	branch = main
[submodule "roles/host_info_facts"]
	path = roles/host_info_facts
	url = https://github.com/infra-monkey/ansible_role_host_info_facts.git
	branch = main
[submodule "roles/motd"]
	path = roles/motd
	url = https://github.com/infra-monkey/ansible_role_motd.git
	branch = main
